# Midterm

### Read test.txt file and perform the following task
====================================================

1) Find count of unique words

In [17]:
import numpy as np
import pandas as pd

data = pd.read_csv('test.txt', header = None, sep="/n", engine="python")
data = pd.DataFrame(data)
#print data
#data.dtypes
count = data[0].str.split(' ', expand=True).stack().value_counts()
print count.sum()

212

2) Find unique words and their frequencies

In [18]:
# Your code here

uniq_wrods = data[0].str.split(' ', expand=True).stack().value_counts()
print uniq_wrods

the             15
a                8
he               5
of               5
to               5
and              5
Scottish         4
for              4
Blair            4
said             3
was              3
league           3
football         3
in               3
Mr               3
referendum       2
English          2
we               2
be               2
believed         2
"I               2
BBC              2
that             2
should           2
-                2
ways             2
led              2
have             2
would            2
at               2
                ..
bonds            1
making           1
between          1
strange          1
up               1
looking          1
nations          1
referendum.      1
victory          1
team             1
Tony             1
"step            1
having           1
20th             1
editor           1
people           1
strengthen       1
national         1
creation         1
back             1
general          1
devolution.      1
Brian            1
as               1
"looked          1
connection."     1
that,            1
Edinburgh        1
anniversary      1
leagues          1
dtype: int64

## Taxi Demand Prediction - Case Study
======================================

In this notebook, we will take Taxi pickups data from New York and do all the basic Descrptive and Predictive Analysis.

<a id="TOC"></a>
# Table of Contents

# A. [Importing the required Libraries](#import)
# B. [Loading the dataset Using Pandas](#loaddata)
# C. [Data Understanding](#dataunderstanding)                      				
# D. [Finding Peak Hours](#peakhours)     
# E. [Finding Peak days](#peakdays)
# F. [Now filter saturday data and let me know about peak hours for that day](#saturday)
# G. [Busiest Days for Taxis](#busyday)
# H. [Which Vendor is most succussful in the given dataset?](#vendor)
# I. [Is there any change in demand of 8 seater taxi on Saturday? If yes then how much?](#weekend)

<a id = "import"></a>
## Importing the required Libraries

In [ ]:
#Your Code here

import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

<a id = "loaddata"></a>
## Loading the Dataset Using Pandas
Load the data from 'TaxiTripdata.xlsx'

In [ ]:
#Your Code here

taxi_data = pd.read_excel('TaxiTripdata.xlsx')

In [ ]:
for chunk in pd.read_csv("TaxiTripdata.xlsx", chunksize=10):
    print(chunk)

List down the columns in dataframe

In [68]:
#Your Code here
col = taxi_data.columns
col

Index([u'vendor_id', u'pickup_datetime', u'dropoff_datetime', u'rate_code',
       u'pickup_longitude', u'pickup_latitude', u'dropoff_longitude',
       u'dropoff_latitude', u'passenger_count', u'trip_distance'],
      dtype='object')

List down the datatypes of each column

In [69]:
#Your Code here
taxi_data.dtypes

vendor_id                     int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
rate_code                     int64
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

<a id = "dataunderstanding"></a>
## Data Understanding
List down the number of rows and columns in the dataset

In [84]:
#Your Code here
taxi_data.shape

(162765, 10)

List down the non-null values in each column to check if there is need to fill the null values

In [94]:
#Your Code here
taxi_data.notnull().count(axis=0)

vendor_id            162765
pickup_datetime      162765
dropoff_datetime     162765
rate_code            162765
pickup_longitude     162765
pickup_latitude      162765
dropoff_longitude    162765
dropoff_latitude     162765
passenger_count      162765
trip_distance        162765
dtype: int64

Next, we would like to discover outliers. Do you see any?

In [187]:
#Your Code here
stds = 1.0  # Number of standard deviation that defines 'outlier'.
z = taxi_data[:].groupby('vendor_id').transform(
    lambda group: (group - group.mean()).div(group.std()))
outliers = z.abs() > stds

df1 = taxi_data[outliers.any(axis=1)]
df1

,vendor_id,pickup_datetime,dropoff_datetime,rate_code,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,2,2013-12-01 00:00:00,2013-12-01 20:44:00,1,0.000000,0.000000,-73.957260,40.742355,1,4.00
1,2,2013-12-01 00:00:00,2013-12-01 02:53:00,1,0.000000,0.000000,0.000000,0.000000,1,3.17
2,2,2013-12-01 00:00:00,2013-12-01 02:17:00,1,0.000000,0.000000,-73.991531,40.729755,1,3.61
3,2,2013-12-01 00:00:00,2013-12-01 12:57:00,1,0.000000,0.000000,-73.768448,40.758572,1,4.09
4,2,2013-12-01 00:00:00,2013-12-01 18:08:00,1,0.000000,0.000000,-73.994026,40.681480,5,12.07
5,2,2013-12-01 00:00:00,2013-12-01 12:56:00,1,0.000000,0.000000,-73.950806,40.686077,1,2.97
6,2,2013-12-01 00:00:00,2013-12-01 19:30:00,1,0.000000,0.000000,-73.945267,40.750851,1,1.17
7,2,2013-12-01 00:00:00,2013-12-01 17:16:00,1,0.000000,0.000000,-73.783379,40.649666,1,13.89
9,2,2013-12-01 00:00:00,2013-12-01 00:15:00,1,-73.920708,40.767776,-73.923614,40.824993,5,5.81
13,2,2013-12-01 00:00:00,2013-12-01 00:09:00,1,-73.906586,40.745358,-73.931854,40.744499,5,1.50
20,1,2013-12-01 00:00:00,2013-12-01 00:33:00,1,-73.910400,40.769398,-73.988983,40.757774,2,6.20
22,2,2013-12-01 00:01:00,2013-12-01 00:08:00,1,-73.917160,40.770798,-73.899467,40.768253,5,1.42
25,2,2013-12-01 00:01:00,2013-12-01 00:16:00,1,-73.953339,40.718864,-74.003319,40.708027,3,3.82
29,2,2013-12-01 00:01:00,2013-12-01 00:19:00,1,-73.995735,40.690681,-73.982178,40.743351,1,6.90
31,2,2013-12-01 00:01:00,2013-12-01 00:14:00,1,-73.948791,40.714092,-73.995232,40.678612,1,5.90
32,2,2013-12-01 00:01:00,2013-12-01 00:40:00,1,-73.958076,40.816051,-73.976418,40.744057,1,7.28
33,2,2013-12-01 00:01:00,2013-12-01 00:18:00,1,-73.954567,40.815742,-74.007980,40.747349,1,6.16
37,1,2013-12-01 00:02:00,2013-12-01 00:15:00,1,-73.926300,40.860237,-73.955513,40.804638,2,5.20
39,2,2013-12-01 00:02:00,2013-12-01 00:16:00,5,-73.926041,40.863728,-73.953476,40.822395,1,4.16
44,2,2013-12-01 00:02:00,2013-12-01 00:06:00,1,-73.872635,40.841267,-73.865227,40.836811,6,0.66
52,2,2013-12-01 00:03:00,2013-12-01 00:11:00,1,-73.919975,40.757790,-73.926414,40.742596,5,1.50
59,1,2013-12-01 00:03:00,2013-12-01 00:13:00,1,-73.995087,40.690578,-73.942673,40.726273,2,5.50
60,2,2013-12-01 00:03:00,2013-12-01 00:10:00,1,-73.939575,40.805367,-73.964211,40.803947,3,1.87
61,2,2013-12-01 00:03:00,2013-12-01 00:24:00,1,-73.841988,40.721504,-73.927963,40.766548,1,9.23
66,1,2013-12-01 00:03:00,2013-12-01 00:07:00,1,-73.956490,40.723213,-73.958458,40.719151,2,0.40
67,2,2013-12-01 00:03:00,2013-12-01 00:16:00,1,-73.990578,40.703506,-73.944237,40.691486,5,3.29
70,1,2013-12-01 00:03:00,2013-12-01 00:29:00,1,-73.989967,40.678532,-73.919731,40.703781,2,4.70
72,2,2013-12-01 00:03:00,2013-12-01 00:04:00,5,-73.952065,40.801544,-73.952080,40.801552,2,0.00
74,2,2013-12-01 00:04:00,2013-12-01 00:19:00,1,-73.912895,40.839886,-73.827202,40.876438,1,9.77
78,1,2013-12-01 00:04:00,2013-12-01 00:30:00,1,-73.946632,40.816509,-73.975952,40.751358,1,6.20
...,...,...,...,...,...,...,...,...,...,...
162673,1,2013-12-10 23:50:00,2013-12-11 00:04:00,1,-73.989723,40.702229,-73.970917,40.624763,1,7.10
162676,2,2013-12-10 23:50:00,2013-12-10 23:52:00,2,-73.954987,40.730137,-73.952034,40.730442,2,0.24
162682,2,2013-12-10 23:51:00,2013-12-11 00:13:00,1,-73.953667,40.690460,-73.880142,40.752010,1,7.73
162683,1,2013-12-10 23:51:00,2013-12-10 23:51:00,5,-74.048386,40.720745,-74.048386,40.720745,1,6.00
162691,1,2013-12-10 23:51:00,2013-12-11 00:02:00,1,-73.957642,40.717976,-73.957771,40.694420,3,2.30
162694,2,2013-12-10 23:51:00,2013-12-10 23:59:00,1,-73.891006,40.747089,-73.919487,40.743488,5,1.53
162696,1,2013-12-10 23:51:00,2013-12-11 00:01:00,5,-73.886230,40.744572,-73.866631,40.765987,1,3.80
162697,1,2013-12-10 23:52:00,2013-12-10 23:52:00,5,-74.048386,40.720745,-74.048386,40.720745,1,6.00
162703,2,2013-12-10 23:52:00,2013-12-10 23:56:00,1,-73.912231,40.775101,-73.915169,40.782757,5,0.86
162707,1,2013-12-10 23:53:00,2013-12-11 00:04:00,5,-73.903069,40.816380,-73.867722,40.832809,1,2.70
162709,2,2013-12-10 23:53:00,2013-12-10 23:54:00,5,-73.853699,40.830830,-73.850761,40.831116,8,0.23
162710,1,2013-12-10 23:53:00,2013-12-11 00:10:00,1,-73.961342,40.716454,-73.987297,40.663773,2,6.70
162712,2,2013-12-10 23:53:00,2013-12-10 23:55:00,1,-73.955948,40.813881,-73.951332,40.820026,5,0.35
162713,2,2013-12-10 23:53:00,2013-12-10 23:59:00,1,-73.922859,40.867130,-73.932144,40.857563,5,1.40
162715,1,2013-12-10 23:54:00,2013-12-11 00:00:00,1,-73.959709,40.717964,-73.942070,40.722027,2,1.30
162716,2,2013-12-10 23:54:00,2013-12-11 00:13:00,1,-73.944153,40.746506,-73.866051,40.743572,1,7.24
162717,2,2013-12-10 23:54:00,2013-12-11 00:11:00,1,-73.956909,40.744843,-73.990646,40.668266,1,9.07
162722,2,2013-12-10 23:55:00,2013-12-11 00:00:00,1,-73.913841,40.765411,-73.932091,40.757706,5,1.37
162724,2,2013-12-10 23:55:00,2013-12-11 00:31:00,1,-73.977676,40.684574,-73.944992,40.833729,1,14.17
162729,2,2013-12-10 23:56:00,2013-12-11 00:14:00,1,-73.924507,40.866444,-73.985527,40.763660,3,8.87
162734,2,2013-12-10 23:56:00,2013-12-11 00:08:00,1,-73.961136,40.714607,-73.954391,40.685616,4,2.83
162740,2,2013-12-10 23:57:00,2013-12-11 00:08:00,1,-73.986084,40.669155,-74.018036,40.648056,5,2.58
162741,2,2013-12-10 23:57:00,2013-12-11 00:28:00,1,-73.993980,40.667778,-73.847717,40.715683,1,13.46
162742,1,2013-12-10 23:57:00,2013-12-11 00:08:00,1,-73.975578,40.687096,-73.934662,40.696808,2,3.00
162743,2,2013-12-10 23:57:00,2013-12-11 00:14:00,1,-73.949532,40.827473,-73.885811,40.755417,3,8.52
162751,2,2013-12-10 23:58:00,2013-12-11 00:22:00,1,-73.843620,40.720993,-73.948952,40.785961,1,13.16
162753,2,2013-12-10 23:58:00,2013-12-11 00:08:00,5,-73.937279,40.801895,-73.902344,40.865040,1,6.04
162754,1,2013-12-10 23:58:00,2013-12-10 23:58:00,1,-73.862953,40.749996,0.000000,0.000000,1,0.00
162760,2,2013-12-10 23:59:00,2013-12-11 00:13:00,1,-73.966309,40.804657,-73.894501,40.902077,1,8.76
162763,2,2013-12-10 23:59:00,2013-12-11 00:19:00,1,-73.945198,40.807938,-73.995415,40.721680,1,9.28

In [ ]:
- list down the number of unique vendors
- list down the unique rate_code

In [111]:
#Your Code here
print df1['vendor_id'].nunique()
print df1['rate_code'].unique()

2
[ 1  5  2  3  6  4 99]

<a id = "peakhours"></a>
## Finding Peak Hours

An interesting analysis could be find out the peak hours. This can be achieved if we count the number of trip for in each hour. You need to do the following:
- Plot the number of trips in each hour. 
- List the hours w.r.t number of trips in descending hour.

In [1]:
import matplotlib.pyplot as plt
#Your Code here
hours = df1['pickup_datetime']
#hours = pd.DataFrame(hours)
hours = hours.dt.hour

unique_elements, counts_elements = np.unique(hours, return_counts=True)
plt.plot(counts_elements)

plt.title("Combined Statistics")
plt.xlabel("Hours")
plt.ylabel("Trips")

plt.show()

print -np.sort(-counts_elements)

NameError: name 'df1' is not defined

<a id = "peakdays"></a>
## Finding Peak Days
Similarly, we would like to know the peak days. Do the following:
- list the number of unique days
- convert days to weekdays name
- plot the average number of trips for each weekday
- list the average number of trips in descending order

In [219]:
import datetime
import calendar
hours = df1['pickup_datetime']
#hours = pd.DataFrame(hours)
day = hours.dt.day.unique()
day

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

<a id = "saturday"></a>
## Saturday 

Lets find the peak hours for Saturday only

In [ ]:
#Your code here

<a id = "busyday"></a>
## Busiest Days for Taxis

Which date was the busiest for taxis?

- List the no. of trips for each date in descending order

In [212]:
#Your code here

date = df1['pickup_datetime']
values, counts = np.unique(date, return_counts=True)
counts

array([11,  6,  3, ...,  4,  3,  2], dtype=int64)

<a id = "vendor"></a>
## Which Vendor is most succussful in the given dataset?

- List the maximum total distance by any vendor in descending order
- List the maximum number of pickups by any vendor in descending order
- List the average distance covered by any vendor in descending order

In [201]:
#Your code here
total = df1['vendor_id']
values, counts = np.unique(total, return_counts=True)
#counts

trip_dist = df1['trip_distance']
trip_dist


desc = df1.groupby(["vendor_id", "trip_distance"]).size()

dist = -np.sort(-desc)
print dist

max_pick = df1.groupby(["vendor_id", "pickup_longitude"]).size()
max_pick = -np.sort(-max_pick)
print max_pick

avg_dist = df1.groupby(["vendor_id", "trip_distance"]).size()
avg_dist = -np.sort(-avg_dist)
avg_dist = np.mean(avg_dist[0:])

avg_dist

[2353  575  314 ...    1    1    1]
[194  72  40 ...   1   1   1]

20.005134788189988

<a id = "saturday"></a>
## Is there any change in demand of 8 seater taxi on Saturday? If yes then how much?

- When number of passengers exceed 5, they hire a 8 seater taxi.

For this you need to find out the number of rides for Saturday for 8 seater and normal taxi and similar do it for other days and plot them for comparison.

In [ ]:
#Your code here